body{/*login.php*/
    margin:0;
}

.container{/*login.php*/
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #FFD941 0%, #AA8C15 100%, #806D21 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{/*login.php*/
    width: 50%;
    text-align: center;
}

.login-container{/*login.php*/
    width: 50%;
}

form.login{/*login.php*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 40vh;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 5px #00000029;
    border: 1px solid #707070;
    border-radius: 35px;
}

button{/*login.php*/
    background: transparent linear-gradient(180deg, #F7D23D 0%, #AA8C15 100%) 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 9px;

    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

input{/*login.php*/
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

@media only screen and (max-device-width: 420px){/*login.php*/
    .container{
        flex-direction: column;
    }

    *{
        font-size:36px;
    }

    .login-container, .logo{
        width:100%;
    }

    form{
        margin: auto;
    }

    img{
        height: 7em;
        margin: 2em;
    }

    input{
        font-size: 0.5em;
    }
    button{
        font-size: 0.5em;
    }
}

.base-container{ /*projects.php*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav{ /*projects.php*/
    width: 20vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #FFD941 0%, #7F6C20 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main{ /*projects.php*/
    width: 80vw;
}

nav > img{ /*projects.php*/
    width: 45%;
    margin: 0em auto;
}

a{/*projects.php*/
    text-decoration: none;

    color: black;

    display: inline-block;
    line-height: 2em;
}

li i{ /*projects.php*/
    font-size: 1.5em;
}

.button{/*projects.php*/
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1em 1em 1em #00000029;
    border: 1px solid #707070;
    border-radius: 22px;
    opacity: 0.8;

    margin-left: 1em;
    letter-spacing: 0.7px;
    text-align: center;
    padding: 0.2em;
    width: 60%;
}

ul{/*projects.php*/
    list-style-type: none;
    text-align: left;
    font: normal normal normal 13px/17px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    height: 100%;
    margin:0 auto;
    padding:0;
    width:calc(100% - 40px);
    position: relative;
}

li{/*projects.php*/
    text-align: left;
    margin-bottom: 1em;
}

li:last-child{/*projects.php*/
    position: absolute;
    bottom: 0;
    width:100%;
}

.fa, .fas{/*projects.php*/
    width: 1em;
}

main{/*projects.php*/
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{/*projects.php*/
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom:gray;
}